<section class="page_index" align="center">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="hidden-sm-down">YAYASAN PERGURUAN TINGGI KARYA DHARMA MAKASSAR</h4>
    <h4 class="hidden-md-up">YPTKD MAKASSAR</h4>
    <h2 class="hidden-sm-down">UNIVERSITAS PEJUANG REPUBLIK INDONESIA</h2>
    <h3 class="hidden-md-up">UPRI</h2>
    <h3 class="hidden-sm-down">FAKULTAS TEKNIK</h2>
    <h5 >SISTEM INFORMASI DAN AKADEMIK MAHASISWA</h3>
  </div>

  <%= image_tag("upri.png")  %>
    
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h5 class="visible-sm visible-md visible-lg">TAHUN AJARAN</h5>
    <p class="visible-sm visible-md visible-lg"><%= Time.now.strftime('%Y')%>/<%= Time.now.strftime('%Y').to_i + 1 %></p>
  </div>
</section>
